<header id="header">
    <div class="container">
        <img class="logo" alt="EmberConf 2019" src="/images/emberconf-2019-logo.svg">

        <h1>Broccoli Plugin Tutorial</h1>
    </div>
</header>
<section class="container body">
    <nav>
        {{#link-to 'index'}}Home{{/link-to}}
        {{#link-to 'inline'}}Inline Markdown{{/link-to}}
        {{#link-to 'markdown'}}Template Markdown{{/link-to}}
        {{#link-to 'blog.index'}}Blog Markdown{{/link-to}}
        {{#link-to 'blog.path' 'bar.html'}}Blog file{{/link-to}}
        {{#link-to 'blog.path' 'baz'}}Blog folder{{/link-to}}
    </nav>

    <div class="content">
        {{outlet}}
    </div>
</section>