<h1>Welcome to EmberConf 2019 Broccoli.js tutorial.</h1>

<p>
    This application is demoing the implementation of 2 Broccoli plugins, one to convert inline markdown snippets, and
    one to convert a folder of markdown files into templates.
</p>

<p>
    Both plugins work at build time so there is no runtime dependency on the markdown parser, which isn't fast.
</p>
